@page "/studentdetail/{id}"

<h3>Detail Student</h3>
<p>Student ID : @Student.studentID</p>
<p>Last Name : @Student.lastName</p>
<p>First Name : @Student.firstName</p>
<p>Ebrollment Date : @Student.enrollmentDate</p>